header {
    height: 70px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid black;
}
h1 {
    background: linear-gradient(to right, #ef32d9, #89fffd);
    padding: 10px;
    font-size: 40px;
    text-decoration: underline;
    margin: auto;
    text-align: center;
}
nav {
    height: 70px;
    width: 100%;
}
.navBar ul{
    list-style:none;
    padding-left: 10px;
    margin: 0;
}
.navBar ul li{
    display: inline-block;
    padding: 9px 0;
    border: 1px solid black;
}
.navBar ul li a{
    color: black;
    padding: 10px;
    text-decoration: none;
    background: linear-gradient(to right, #f2709c, #ff9472);
}
.navBar ul li a:hover{
    background: linear-gradient(to right, #232526, #414345);
    color: white;
}
.board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 450px;
    margin: auto;
    position: relative;
}
.board::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #fffbd5, #b20a2c);
    filter: blur(20px);
    z-index: -1;
}
button {
    width: 150px;
    height: 150px;
    font-size: 90px;
    color: black;
}

#winner-title {
    width:445px ;
}


body {
  display: grid;
  place-items: center;
  font-family: 'Oswald', sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card {
  width: 400px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  background: pink;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background: linear-gradient(to right, #70e1f5, #ffd194);
  background-size: cover;
  background-blend-mode: overlay;
  color: #333;
}

.card__front::before {
  content: '';
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  border: 3px solid currentColor;
  transform: translateZ(3rem);
}

.card__title {
  font-size: 3.5rem;
  transform: translateZ(9rem);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: translateZ(6rem);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  font-weight: 700;
  opacity: .7;
}

.card__body {
  transform: translateZ(6rem);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
}



.card__back {
  transform: rotateY(.5turn);
  color: #333;
  background: linear-gradient(to right, #70e1f5, #ffd194);
}
input {
    margin-top: 30px;
    background: linear-gradient(to right, #ed4264, #ffedbc);
    width: 100px;
    font-family: 'Oswald', sans-serif;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}
input:hover {
    background: linear-gradient(to right, #232526, #414345);
    color: white;
}
@media (max-width:930px) {
    .container {
        display: flex;
        flex-direction: column;
    }

}